/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import "__spacing.css"; /* Using Tachyons spacing */
html,
body {
  color: #222;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  margin: 0;
  height: 100%;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 *
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  flex: 1;
  overflow: auto;
}
/* The hero image */
.hero-image {
  margin: 0 0;
  background-image: url("../img/hero-beach.jpg");
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.header__logo {
  height: 32px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.footer__items a {
  font-weight: 500;
  color: #222;
  text-decoration: none;
}
/* ==========================================================================
  Add your CSS here
   ========================================================================== */
section {
  height: 300px;
  overflow: auto;
  border-bottom: 2px solid;
  background: lightpink;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.paragraph {
margin-left: 100px;
margin-top: 120px;
}
.para {
  font-size: 24px;
  margin: 0 0 0 0;
 }
 .p1 {
  width: 101px;
  height: 40px;
  font-size: 24px;
  background-color: white;
  background-size: auto;
}
.p2 {
  width: 209px;
  height: 40px;
  font-size: 24px;
  background-color: white;
}
.p3 {
  width: 93px;
  height: 40px;
  font-size: 24px;
  background-color: white;
}
.p4 {
  width: 179px;
  height: 40px;
  font-size: 24px;
  background-color: white;
}
.p5 {
  width: 71px;
  height: 40px;
  font-size: 24px;
  background-color: white;
}
.whatwefund {
  background-color: white;
  height: 504px;
  position: relative;
}
.here {
  margin-left: 50px;
  margin-top: 50px;
  font-style: Bold;
  font-size: 48px;
}
.contaier {
  position: absolute;
  width: 1080px;
  height: 289px;
  left: 50px;
}
.first_div {
  position: absolute;
  width: 510px;
  height: 220px;
  background-color: #f2c94c;
}
.second_div {
position: absolute;
width: 510px;
height: 220px;
right: 0px;
background-color: #83afed;
}
.third_div {
  position: absolute;
  width: 510px;
  height: 69px;
  background-color: black;
  bottom: 0px;
}
.fourth_div {
  position: absolute;
  width: 510px;
  height: 69px;
  background-color: black;
  bottom: 0px;
  right: 0px;
}
.h1 {
  position: absolute;
  font-style: Bold;
  font-size: 24px;
  left: 20px;
  bottom: 10px;
}
.h2 {
  position: absolute;
  font-style: Bold;
  font-size: 24px;
  color: white;
  left: 20px;
  }
.our_mission {
  position: relative;
  height: 600px;
  background-color: white;
}
.Mission {
  position: absolute;
  font-style: Bold;
  font-size: 48px;
  left: 40px;
}
.this_para {
  position: absolute;
  font-size: 24px;
  top: 100px;
  left: 40px;
  width: 510px;
}
.mission_group_img {
  position: absolute;
  top: 50px;
  float: right;
  width: 550px;
  right: 20px;
}
.communities {
  position: relative;
  height: 850px;
  background-color: white;
  }
  .here_communities {
    position: absolute;
    left: 40px;
    font-size: 48px
  }
  .communities_paragraphs {
    position: absolute;
    font-size: 24px;
    top: 100px;
    left: 40px;
    width: 510px;
  }
  .this_button {
    position: absolute;
    top: 250px;
    left: 40px;
    height: 75px;
    width: 300px;
    background-color: black;
    color: white;
    font-size: 35px;
  }
  .second_container {
    position: absolute;
    width: 1080px;
    height: 389px;
    left: 50px;
    top: 400px;
    background-color: white;
  }
.banana {
  background-color: #f2c94c;
  width: 320px;
  height: 389px;
}
.first_div_here {

}
.second_div_here {
  position: absolute;
  left: 380px;
  top: 0px;
}
.third_div_here {
  position: absolute;
  right: 0px;
  top: 0px;
}
.communities_article {
  position: absolute;
  left: 20px;
  color: #a3c2c2;
}
.communities_img {
  position: absolute;
  width: 320px;
  height: 235px;
  bottom: 0;
}
.banana_paragraph {
  position: absolute;
  width: 300px;
  top: 40px;
  left: 20px;
  font-size: 25px;
  font-style: Bold;
}
.color {
  background-color: #83afed;
}
.this_communities_img {
  position: absolute;
  width: 320px;
  height: 220px;
  bottom: 0;
}
